
{{#jobs}}
  <tr data-job-id="{{id}}">
    <td {{#feature}}class="feature"{{/feature}}>
      <a href="{{link}}" class="job-title">
        {{title}}
        {{#has_chat}}
          <span class="chat">
              <img src="images/slack.png" alt="Chat"/>
          </span>
        {{/has_chat}}
      </a>
      <div class="location">{{location}}</div>
    </td>
    <td  {{#feature}}class="feature"{{/feature}}>{{published}}</td>
  </tr>
{{/jobs}}
